addons:
  postgresql: "9.3"

before_script:
  - psql -c 'create database pleyus_test;' -U postgres

language: go

install:
  - export PATH=$PATH:$HOME/gopath/bin
  - go get -v github.com/revel/cmd/revel
  - go get -v github.com/revel/revel/cache
  - go get -v github.com/coopernurse/gorp
  - go get -v code.google.com/p/go.crypto/bcrypt
  - go get -v github.com/robfig/cron
  - go get -d github.com/daemonfire300/pleyus-gh

script:
  - revel test github.com/daemonfire300/pleyus-gh test

go:
  - 1.4